{% extends 'ConfRooms/base.html' %}

{% block content %}

<table>
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Capacity</td>
        <td>Projector</td>
    </tr>
    <tr>
        <td>{{room.pk}}</td>
        <td>{{room.name}}</td>
        <td>{{room.capacity}}</td>
        <td>
            {% if room.projector %}
            Available
            {% else %}
            Not Available
            {% endif %}
        </td>
        <td><a href="/room/modify/{{room.pk}}/">Edit</a></td>
        <td><a href="/room/delete/{{room.pk}}">Delete</a></td>
        <td><a href="/room/reserve/{{room.pk}}">Make a Reservation</a></td>
    </tr>
</table>
{% if reservations %}
<ul>
    {% for reservation in reservations %}
        <li>{{reservation.date}}  {{reservation.comment}}</li>
    {% endfor %}
</ul>
{% else %}
    Room has not been booked yet
{% endif %}
{% endblock content %}